nav {
  width: 5.7rem;
  height: 100vh;
  position: fixed;
  background-color: #d79595;
    transition: width 600ms ease;
    overflow: scroll;
}

nav:hover {
    width: 24rem;
}

nav:hover .link-text {
    width: 16rem;
}


.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav-item {
  width: 6%;
  height: 10%;
  margin-left: 20px;
}

.nav-item-main-logo {
  width: 90%;
  height: 10%;
  margin-left: 16px;
}

.nav-item-arrow {
  width: 100%;
  margin-top: auto;
  margin-bottom: 2rem;
  font-size: 1.3rem;
  color: white;
}

.nav-item-login {
  display: none;
}

nav:hover .nav-item-login {
  display: block;
  margin-left: 50%;
  font-size: 20px;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: white;
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: width 1s;
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
}

.link-text {
  display: none;
  margin-left: 1rem;
  font-size: 20px;
}

.nav:hover .link-text {
  display: block;
}

.nav:hover .expandLogo {
  display: none;
}

button {
    outline: none;
    background: transparent;
    border: 0px;
    font-size: 1.4rem;
}

.expandLogo {
  height: 2.5rem;
  margin-left: 50%;
}

.centralLogo {
  height: 2rem;
}